<div class="card mat-card" id="first-card">
  <div id="profile-background">
    <img id="info-back-img" [src]="person.profile.background! ? person.profile.background : defaultBackground
        " />
  </div>
  <div id="info" style="padding: 16px">
    <div id="info-img">
      <img id="info-user-img" class="profile-image" [src]="
            person.profile.profilePicture! ? person.profile.profilePicture : defaultProfileImg
          " />
      <div class="btn-edit" *ngIf="isLogged">
        <a class="btn-right"><i class="fa fa-pen" data-bs-toggle="modal" data-bs-target="#editProfile"></i></a>
      </div>
    </div>
    <div id="info-data">
      <div>
        <h1 id="info-name">{{ person.name }} {{ person.surname }}</h1>
        <br />
        <h5 id="info-name">
          Fecha de Nacimiento: {{ person.birthDate }}
        </h5>
        <h5 id="info-name">
          Nacionalidad: {{ person.nationality }}
        </h5>
        <div *ngFor="let xp of person.experiences">
          <div *ngIf="xp.endDate=='Actualidad'">
            <span id="info-position"> {{xp.position}} </span> en
            <span id="info-company"> {{xp.company}} </span>
          </div>
        </div>
        <div id="info-contact">
          <span id="info-ubication">{{ person.location }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal edita profile -->

<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Encabezado de Perfil</h5>
        <button type="button" class="Close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputName">Nombre</label>
          <input type="text" class="form-control text-capitalize" id="inputName" placeholder="Ingrese el Nombre"
            [(ngModel)]="person.name" />
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputName">Apellido</label>
          <input type="text" class="form-control text-capitalize" id="inputSurname" placeholder="Ingrese el Apellido"
            [(ngModel)]="person.surname" />
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputFechaNacimiento">Fecha de Nacimiento</label>
          <input type="text" class="form-control" id="inputFechaNacimiento" placeholder="Ingrese la fecha de nacimiento"
            [(ngModel)]="person.birthDate" />
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputNacionalidad">Nacionalidad</label>
          <input type="text" class="form-control text-capitalize" id="inputNacionalidad" placeholder="Ingrese su nacionalidad"
            [(ngModel)]="person.nationality" />
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputUbication">Ubicación</label>
          <input type="text" class="form-control text-capitalize" id="inputUbication" placeholder="Ingrese su ubicacion"
            [(ngModel)]="person.location" />
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputbackground">URL de Imagen de Fondo</label>
          <input type="text" class="form-control" id="inputbackground" placeholder="Ingrese la imagen de fondo"
            [(ngModel)]="person.profile.background" />
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputprofilePicture">URL de Foto de Perfil</label>
          <input type="text" class="form-control" id="inputprofilePicture" placeholder="Ingrese su foto de perfil"
            [(ngModel)]="person.profile.profilePicture" />
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editHeaderModal(person.id)">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>