<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{person.name}}</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="grey-text fab fa-facebook-square fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="grey-text fab fa-instagram fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="grey-text fab fa-twitter fa-2x"></i>
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" *ngIf="isLogged(); then logout; else login">
      </form>
        <ng-template #logout>
          <button class="btn btn-outline-success my-2 my-sm-0"  
        (click)="logOut()">Logout</button>
        </ng-template>
        <ng-template #login>
          <button class="btn btn-outline-success my-2 my-sm-0"  
        (click)="goLogin()">Login</button>
        </ng-template>
  <!-- revisar para que figure login / logout segun el caso -->
    </div>
  </nav>